.zona-mensajes {
    position:fixed; /*posicionar*/
    overflow: scroll;
    z-index: 999;
    margin: 7px;
    /*height: 1vh;
    overflow: hidden;*/
}
.mensaje-flotante p::before {content: " ●  ";}
.mensaje-flotante {
    font-family: "Funnel Sans", sans-serif;
    width: 350px;
    padding: 7px 5px;
    margin: 5px;
    background-color: var(--color-fondo1);
    overflow: scroll;

    animation: aparecer 4s ease-out forwards;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.4s ease;
}
@media (max-width: 500px) {
    .mensaje-flotante {
        width: 200px;
    }
}
@keyframes aparecer {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    3% {
        opacity: 1;
        transform: scale(1);
    }
    70% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(0.95);
    }
}
.mensaje-flotante.generico {color: var(--color-principal); border: 2px solid var(--color-principal);}
.mensaje-flotante.exito {color: var(--color-info2); border: 2px solid var(--color-info2);}
.mensaje-flotante.error {color: var(--color-error); border: 2px solid var(--color-error);}
.mensaje-flotante.alerta {color: var(--color-resaltado); border: 2px solid var(--color-resaltado);}
.mensaje-flotante.informacion {color: var(--color-info1); border: 2px solid var(--color-info1);}
