/*@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Datatype:wdth,wght@99.5,429&family=Syne+Mono&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Lexend+Deca:wght@100..900&display=swap');*/
@font-face {
  font-family: 'Chelsea Market';
  src: url('./assets/fonts/ChelseaMarket-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Syne Mono';
  src: url('./assets/fonts/SyneMono-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'Datatype';
  src: url('./assets/fonts/Datatype-VariableFont_wdth.wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 50% 150%;
  font-display: swap;
}
@font-face {
	font-family: "Lexend Deca";
	src: url('./assets/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf');
	font-display: swap;
}
@font-face {
	font-family: "Funnel Sans";
	src: url('./assets/fonts/Funnel_Sans/FunnelSans-VariableFont_wght.ttf');
	font-display: swap;
}

@import "tailwindcss"; 

@theme {
	--color-fondo1: #202225;
	--color-fondo2: #333435;
	--color-fondo-especial-1: #222831;
	--color-fondo-especial-2: #848383;
	--color-principal: #f2edd5;
	--color-resaltado: #ffd100;
	--color-error: #d53912;
	--color-info1: #7b2bcf;
	--color-info2: #7de62b;
}
* {
	--color-fondo1: #202225;
	--color-fondo2: #333435;
	--color-fondo-especial-1: #222831;
	--color-fondo-especial-2: #848383;
	--color-principal: #f2edd5;
	--color-resaltado: #ffd100;
	--color-error: #d53912;
	--color-info1: #7b2bcf;
	--color-info2: #7de62b;
}

.fuente3 {
	font-family: "Datatype", monospace !important;
  	font-stretch: normal;
    font-style: normal;
    font-variation-settings: "wdth" 100, "wght" 429 !important;
}
.fuente1 {
  	font-family: "Chelsea Market", system-ui !important;
  	font-weight: 400;
  	font-style: normal;
}
.fuente2 {
	font-family: "Syne Mono", monospace !important;
  	font-weight: bolder;
  	font-style: normal;
	font-size: smaller;
}
.fuente4 {
	font-family: "Lexend Deca", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
}
body {
	font-family: "Funnel Sans", sans-serif;
  	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
}

.oculto {
  display: hidden;
  
}